@import "./settings";

@mixin text-style() {
  font-size: $large-body-font-size;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  color: white;
}

@mixin default-wrapper() {
  display: flex;
  align-content: center;
  margin: 0 auto;
  max-width: $main-max-width;
  width: 98vw;
}

@mixin header-style() {
  height: $heading-height;
  position: sticky !important;
  top: 0;
  justify-content: center;
  transition: $header-transition;
  background-color: $primary-background-color;
}

@mixin header-heading-style() {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  font-size: 2.125rem;
  transition: $header-transition;
}

@mixin nav-style() {
  padding: 10px 15px !important;
  color: $primary-font-color !important;
  font-size: $nav-bar-font-size !important;
  transition: $header-transition !important;
}

@mixin category-bar-style() {
  display: flex;
  position: sticky;
  top: 64px;
  width: 85vw;
  max-width: 1300px;
  margin: auto;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: $category-bar-transition;
  background-color: #efe2ba;

  &::-webkit-scrollbar {
    display: none;
  }
  .category-link {
    min-width: unset;
    padding: 8px 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 0px;
    font-size: 15px;
  }
  span {
    width: max-content;
  }
}
