$primary-font-color: white;

$primary-background-color: #4056a1 !important;

$primary-heading-size: 40px; // for section headings such as Menu and Info
$secondary-heading-size: $primary-heading-size * 0.8;

$large-body-font-size: 20px;
$small-font-size: 14px;

$heading-height: 64px;

$main-max-width: 1500px; // used for wrappers

$menu-max-width: 1300px;
$menu-width: 85vw;

$heading-bottom-margin: 8px; // includes sub-headings

// transition times

//header
$header-transition: 200ms ease-in-out;
$category-bar-transition: 200ms ease-in-out;
