@mixin text-style() {
  font-size: 15pt;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  color: white;
}

.info-container {
  padding: 10px 0;
  background-color: #3f51b5;
  .inner-info-container {
    .icon {
      margin: auto 0;
    }
    .location-info {
      display: flex;
      justify-content: center;
      p {
        @include text-style();
      }
    }
    .phone-info {
      display: flex;
      justify-content: center;
      p {
        @include text-style();
        margin-left: 2px;
      }
    }
  }
}
