.App {
  body > * {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-wrapper {
  display: flex;
  align-content: center;
  margin: 0 auto;
  max-width: 1500px;
  width: 98vw;
}

.main-wrapper > * {
  width: inherit;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.title {
  flex-grow: 1;
  padding-left: 15px;
}
