.category-bar {
  @include category-bar-style();
}

.category-bar-expanded {
  @include category-bar-style();
  width: 100%;
  max-width: 100%;
}

.no-transition {
  transition: none;
}

.inner-category-bar {
  display: flex;
  margin: auto;
}
