@import "../utilities/settings";

.contact {
  background-color: $dark-background-color;
  .contact-container {
    max-width: 600px;
    margin: auto;
    .form-container {
      margin-bottom: 0px;
      .form-item-container {
        text-align: left;
        font-size: 16px;
        label {
          display: block;
          margin-bottom: 3px;
          color: $primary-font-color;
        }
        .input-area {
          width: 100%;
          padding: 5px;
          font-size: 16px;
        }
        .resizable-container {
          min-width: 100%;
          max-width: 100%;
          min-height: 50px;
          max-height: 500px;
        }
        .errorMsg {
          font-size: 15px;
          margin: 0;
          color: red;
        }
      }
    }
    .submit-button {
      background-color: white;
    }
    .successMsg {
      color: $primary-font-color;
    }
  }
}

.contact-wrapper {
  padding-bottom: 20px;
  .contact-text {
    margin-bottom: 15px;
    .heading {
      margin-bottom: 0px;
      color: $primary-font-color;
    }
    p {
      margin-top: 0.5em;
      color: $primary-font-color;
    }
  }
}
