@import "../utilities/settings";
@import "../utilities/mixins";

.header {
  @include header-style();
  transition: $header-transition !important;
}

.header-expanded {
  @include header-style();
  font-size: 30px;
  height: $heading-height * 1.5;
  transition: $header-transition !important;
}

.heading-inner-container {
  justify-content: space-between;
}

.nav-link {
  @include nav-style();
}

.nav-link-expanded {
  @include nav-style();
  font-size: $nav-bar-font-size * 1.1 !important;
}

nav {
  position: absolute;
  right: 0;
  transition: $header-transition;
}

.header-heading {
  @include header-heading-style();
}

.header-heading-expanded {
  @include header-heading-style();
  font-size: 2.125rem * 1.25 !important;
}
