@import "../utilities/mixins";
@import "../utilities/settings";

.info-container {
  padding-bottom: 50px;
  background-color: $primary-background-color;
  .heading {
    h1 {
      font-size: $primary-heading-size;
      color: $primary-font-color;
    }
  }
  .store-info-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    .store-info-container {
      margin: auto;
      .icon {
        margin: auto 0;
        color: white;
      }
      .location-info {
        display: flex;
        justify-content: center;
        p {
          @include text-style();
        }
      }
      .phone-info {
        display: flex;
        justify-content: center;
        p {
          @include text-style();
          margin-left: 2px;
        }
      }
    }
  }
  .open-hr-container {
    margin: auto;
    width: 70%;
    text-align: center;
    color: $primary-font-color;
    .open-hr-item-container {
      display: flex;
      justify-content: space-between;
      margin: 5px auto;
      font-size: $large-body-font-size;
    }
    h3 {
      margin: 0.5em 0;
      padding: 0.5em 0;
      font-size: $secondary-heading-size * 0.75;
    }
  }
  .google-maps-container {
    .google-maps {
      border: 3px solid white;
    }
  }
}
