@import "../utilities/mixins";

.info-container {
  padding: 10px 0;
  background-color: #3f51b5;
  .inner-info-container {
    .icon {
      margin: auto 0;
    }
    .location-info {
      display: flex;
      justify-content: center;
      p {
        @include text-style();
      }
    }
    .phone-info {
      display: flex;
      justify-content: center;
      p {
        @include text-style();
        margin-left: 2px;
      }
    }
  }
}
